@font-face {
  font-family: brandFont;
  src: url(../../../public/webfont/dmserifdisplay-regular-webfont.woff);
}
@font-face {
  font-family: navbarFont;
  src: url(../../../public/webfont/jost-variablefont_wght-webfont.woff);
}
.homeTitles {
  position: absolute;
  z-index: 1;
  /* left: 11%; */
  padding-left: 7% !important;
  top: 13%;
}
.home-bg-pic {
  /* position: relative; */
  width: 100%;
  height: 75%;
  /* left: -72px; */
  /* top: -809px; */
  padding: 0%;
  border-bottom-left-radius: 200px;
  object-fit: contain;
}
.home-header {
  /* width: 567px;
  height: 212px; */

  font-family: brandFont;
  font-style: normal;
  font-weight: 400;
  font-size: 5.3125rem;
  line-height: 125%;
  /* or 106px */

  display: flex;
  align-items: center;

  color: #292f36;
}
.home-subtitle {
  width: 55%;
  /* height: 66px; */

  font-family: navbarFont;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 150%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #4d5053;
}
.homeContainer {
  position: relative;
  max-width: 100%;
}
/* .homeTitles {
  position: absolute;
  top: 22%;
  left: 12%;
  padding-left: 12%;
  z-index: 1;
} */
/* .custom-btn {
  justify-content: center;
  align-items: center;
  padding: 26px 48px;
  gap: 10px;
  background: #292f36;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;
  width: fit-content;
} */
.getStarted-btn {
  margin-left: 0%;
}

@media (max-width: 1200px) {
  .homeTitles {
    left: 0%;
    padding-left: 11%;
  }
}
@media (max-width: 992px) {
  .home-header {
    font-size: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 90px;
  }
  .home-header br {
    display: none;
  }
  .home-subtitle {
    font-size: 25px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .getStarted-btn {
    margin-left: 35%;
  }
}
@media (max-width: 600px) {
  .brandTitle {
    font-size: 2rem;
  }
  .home-bg-pic {
    /* height: 100% !important; */
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .home-header {
    font-size: 1.8125rem;
    margin-top: -13%;
  }
  .homeTitles {
    left: 0%;
    top: 19%;
  }
  .home-subtitle {
    font-size: 1.3125rem;
    height: 84px;
    margin-top: 0px;
    text-align: left;
    padding-left: 6%;
  }
  .getStarted-btn {
    margin-left: 10%;
    font-size: 1rem;
    width: 63%;
    margin-top: 4%;
    margin-left: 17%;
  }
}

@media screen and (max-width: 1200px) {
  .homeTitles {
    left: 0%;
    padding-left: 11%;
  }
  .servicesHeader {
    font-size: 44px;
    line-height: 95%;
  }
  .services_subTitle {
    font-size: 22px;
    line-height: 112%;
  }
  .contact_no h4,
  .contact_no p {
    font-size: 21px;
    line-height: 140%;
  }
  .Line {
    display: block;
  }
  .cardTag {
    top: 46%;
  }
}
@media screen and (max-width: 992px) {
  .home-header {
    font-size: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 90px;
  }
  .home-header br {
    display: none;
  }
  .home-subtitle {
    font-size: 25px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .getStarted-btn {
    margin-left: 35%;
  }
  .servicesHeader {
    font-size: 32px;
    line-height: 82%;
  }
  .services_subTitle {
    font-size: 19px;
    line-height: 85%;
  }
  .callSection {
    margin-top: -23px;
  }
  .services-btn {
    width: 261px;
    font-size: 18px;
  }
  .footerLogo {
    justify-content: center;
  }
  .footerP {
    margin-left: 8%;
  }
  .socialMedia {
    display: flex;
    justify-content: center;
  }
  .smallScreenContact {
    display: flex;
    flex-direction: row;
  }
  .footer {
    flex-direction: column;
  }
  .pagesContainer {
    width: 100%;
    margin-top: 5%;
  }
  .Line {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .Line {
    display: none;
  }
  .copyright {
    font-size: 18px;
  }
  .serachIconForSmallScreen {
    padding-left: 0% !important;
  }
}
@media only screen and (max-width: 600px) {
  .brandTitle {
    font-size: 2rem;
  }
  .home-bg-pic {
    height: 63%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .bg-pic {
    height: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .home-header {
    font-size: 1.8125rem;
    margin-top: -13%;
  }
  .homeTitles {
    left: 0%;
    top: 23%;
  }
  .home-subtitle {
    font-size: 1.3125rem;
    height: 84px;
    margin-top: 0px;
    text-align: left;
    padding-left: 6%;
  }
  .getStarted-btn {
    margin-left: 10%;
    font-size: 1rem;
    width: 63%;
    margin-top: 4%;
    margin-left: 17%;
  }
  .services_subTitle br {
    display: none;
  }
  .servicesHeader {
    font-size: 1.5rem;
    margin-left: 9%;
    line-height: 1.5;
  }
  .contact_no h4,
  .contact_no p {
    font-size: 17px;
    line-height: 114%;
  }
  .callSection {
    justify-content: center;
    margin-top: 2px;
  }
  .phone {
    left: 31%;
    top: 22%;
  }
  .ellipse {
    width: 72%;
  }
  .services_subTitle {
    line-height: 160%;
  }
  .services-btn {
    width: 229px;
    font-size: 14px;
  }
  .projectsSubtitle br {
    display: none;
  }
  .projectsContainer h1 {
    font-size: 1.5rem;
  }
  .projectCard {
    width: 20rem;
  }
  .cardContent h4 {
    font-size: 1.125rem;
  }
  .cardContent p {
    font-size: 1rem;
  }
  .cardSubtitle {
    padding-bottom: 10px !important;
  }
  .paddingBottomZero {
    padding-bottom: 0 !important;
  }
  .cardContent {
    margin-bottom: 10%;
    gap: 25%;
  }
  .pagesContainer p {
    font-size: 1.29rem;
  }
  .pagesContainer h5 {
    color: #cda274;
    border-bottom: solid 1px lightgrey;
  }
  .statistics h1 {
    font-size: 4rem;
    line-height: 67px;
  }
  .statistics div p {
    font-size: 1rem;
  }
  .blogContainer h1 {
    font-size: 1.5rem;
  }
  .Line {
    display: none;
  }
  .blogCardContainer {
    margin-top: -61px;
  }
  .blogContainer p {
    font-size: 1.375rem;
  }
  .blogContainer > p > br {
    display: none;
  }
  /* .blogCard {
    width: 21rem;
  } */
  .cardTag {
    left: 12%;
    top: 47%;
  }
  .smallScreenContact {
    flex-direction: column;
    margin-left: 8%;
    margin-top: 13%;
    justify-items: center;
  }
  .smallBtn,
  .servicesSmallBtn {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: 0.8rem;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer {
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .projectsSubtitle {
    padding-top: 0px !important;
  }
  .contactAdsress {
    width: inherit;
  }
  .blogCardTitle {
    font-size: 1.5rem;
  }
  .ellipseArrow {
    width: 60px;
    height: 60px;
    margin-top: 4%;
  }
  .arrow {
    width: 10px;
    height: 16px;
  }
}
